# Ignore files and directories commonly excluded from Git repositories
.DS_Store
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/
*.log

# Ignore any files or directories specific to your project that should not be included in the Git repository

.env.local
.env
db
/.idea/aws.xml
/.idea/runConfigurations/docker_compose_yml__Compose_Deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/SpecificAI.iml
/.idea/vcs.xml
