<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adaptive AI</title>
    <link rel="stylesheet" href="static/index.css"/>
    <script type="application/javascript" src="static/index.js" defer="defer"></script>
</head>
<body>
<div class="container">
    <h1>Choose a topic for the AI</h1>
    <form id="topic_form">
        <label for="topic">Topic</label>
        <select name="topic" id="topic">
            <option value="tax">Tax</option>
            <option value="gbm">GBM</option>
            <option value="playwright">Playwright</option>
        </select>
        <input type="submit" id="submit" value="Start">
    </form>
</div>
</body>
</html>